.miStack{
    width: 100%;
    margin-top: 100px;
    
    .stacks{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        margin-left: 10px;
        margin-right: 10px;

        .tarjeta{
            background: #1a1919e3;
            display: flex;
            width: 130px;
            padding: 5px 20px;
            border-radius: 10px;
            gap: 5px;
            align-items: center;
            font-size: 14px;
            font-weight: 200;
            color: gray;
            
            .portadaStack{
                img{
                    height: 20px;
                    color-scheme: #000;
                }
            }
        }

    }
}

@media only screen and (max-width: 800px) {
    .stacks{
        grid-template-columns: repeat(1, 1fr) !important;
    }
}